@use '../../assets/styles/config' as *;

.progress {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    transition: all 0.5s ease-in-out;

    ul {
        display: inline-flex;
        align-items: flex-end;

        li {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 3rem;
            height: 3rem;
            justify-content: center;
            align-items: center;
            font-weight: 300;
            color: #fff;
            padding: 0.25rem 0 0 0;
            transition-delay: 0.5s;
            transition: all 0.2s ease-in-out;

            &:before {
                position: absolute;
                z-index: -1;
                top: 0;
                content: "";
                display: flex;
                height: 2rem;
                width: 2rem;
                background: #464646;
                border-radius: 50%;
            }

            &:after {
                content: "";
                display: flex;
                height: 100%;
                width: 2px;
                background: #464646;
            }
        }
        .current {
            height: 5rem;
            font-weight: 500;

            &:before,
            &:after {
                content: "";
                background-color: $black;
            }
        }
    }
}
